# See https://dart.dev/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/

# Coverage
coverage/

# OS and IDE files
.DS_Store
.idea/
*.iml
.vscode/
